@import "reset";

@m-color:#e9967a;
@txt-white:#fff;
/* 头部*/ 
.header{
    height: 60px;
    line-height: 60px;
   
    h1{
        float: left;
        width: 220px;
        background-color: @m-color;
        color: @txt-white;
        font-size: 20px;
        text-align: center;
    }
    .m-menu{
        i{
            font-size: 30px;
        }
        float: left;
        display: none;//条纹缩小菜单初始隐藏
    }
    .right{
        height: 60px;
       float: right;
       font-size: 18px;
       img{
           width: 30px;
           height: 30px;
       }
       a{
        margin-right: 30px;
        }
       i{
           font-size: 25px;
           color: #007acc;
           font-weight: bold;
           vertical-align: middle;
       }
    }
}

/* main主体*/ 
.main{
    /*高度由内容撑开设最小高度*/
    min-height: 300px;
    display: flex;
    .menu-left{
        width: 220px;
        .first-menu{
            padding-left: 10px;
            li{
                h3{
                    line-height: 40px;
                    font-size: 16px;
                    font-weight: bold;
                    span{
                      
                        margin-right: 10px;
                    }
                }
                .second-menu{
                    display: none;
                    padding-left: 20px;
                    li{
                        font-size: 14px;
                        line-height: 34px;
                        a{
                            display: block;
 
                        }
                        span{
                           margin: 0 10px;
                            
                        }
                        &:hover{
                            a{
                                background-color: @m-color;
                                color: #fff;
                                span{
                                    color:#fff;
                                }
                            }
                        }
                    }
                }
             
            }
            .active{
                h3{         
                   a{
                    color: @m-color;
                     span{
                        color: @m-color;
                     }
                   }
                    
                }
                .act{
                    a{
                          background-color: @m-color;
                          color: #fff;
                          span{
                              color: #fff;
                          }
                    }
                    

                }
                .second-menu{
                    display: block;
                }
            }
        }
             
    }
    .content{
        flex-grow: 1;
        width: 300px;
        background-color: #f5f5f5;        
        .title{
            padding-left: 10px;
            height: 40px;
            line-height: 40px;
            //border-bottom: 1px solid #e0e0e0;
            font-size: 18px;
            color: sienna;
            background-color: #e0e0e0;
            h4{
                float: left;
            }
            a{
                float: right;
                color: sienna;
                height: 40px;
                i{
                    color: sienna;
                }
            }
        }
       .nav{
           //height: 40px;
           border-bottom: 1px solid #e0e0e0;
           padding: 5px 20px;
           line-height: 30px;
           .btn-group{
               float: left;
               background-color: #f1f1f1;
               border: 1px solid #b0b0b0;
              
               border-radius: 3px;
               a{  
                   float: left;
                   padding: 0 10px;
                   border-left: 1px solid #c0c0c0;
                   &:first-child{
                       border-left: 0;
                   }
                   &:hover{
                       background-color: #e0e0e0;
                   }
               }

           }
           form{
               float: right;
               label{
                   font-size: 16px;
               }
               input{
                   border: 1px solid #c0c0c0;
                   width: 175px;
                   height: 30px;
                   padding-left: 20px;
                   &[type=submit]{
                       width: auto;
                       padding: 0 10px;
                   }
               }
           }
           .fixed-btn{
               display: none;
            position: fixed;
            right: 15px;
            top: 190px;
            padding: 0px 5px;
            background-color: @m-color;
            font-size: 14px;
            border-radius: 4px;
        }
       }
       .table-box{
           padding: 20px;
           overflow: auto;
           max-height: 300px;
           table{
               width: 100%;
               min-width: 800px;
               line-height: 1.8;
               th{
                   border: 1px solid #e0e0e0;
                   text-align:center;
                   font-size: 16px;
                   font-weight: bold;
               }
               td{
                border: 1px solid #e0e0e0;
                font-size: 14px;
                padding-left: 18px;
                a{
                    padding: 2px 5px;
                    background-color: #e0e0e0;
                   
                }
               }
               td:nth-child(1){
                padding-left: 0;
                   text-align: center;
               }
               
           }
       }
    }
}
/* 中等屏幕响应式处理*/ 
@media screen and (max-width:991px)
{
    .main{
        .content{
            .summary{
                li{
                    width: 48%;
                    margin:15px 0;
                }
            }
        }
    }
}
/* 超小屏幕响应式处理*/ 
@media screen and (max-width:767px)
{
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #fff;
        //border-bottom: 1px solid #999;
        h1{
            display: none;
        }
        .m-menu{
            display: block;
            
        }
        .right{
            a{
                margin-right: 0;
            }
            a:nth-child(2){
                display: none;
            }
        }
    }
    .main{
        .menu-left{
            display: none;
            position: fixed;
            top: 61px;
            left: 0;
            width: 100%;
            background-color: #fff;
            text-align: center;
            .first-menu{
                padding-left: 0;
                li{
                    .second-menu{
                        padding-left: 0;
                    }
                }
            }
        }
        .content{
            margin-top: 60px;
            .title{
                font-size: 14px;
            }
            .nav{
                .btn-group{
                    //float:none;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    
                    a{  
                        display: inline-block;
                        background-color: #e0e0e0;
                        border: none;
                        padding: 0 20px;
                        font-size: 16px;
                        line-height: 40px;
                        border-radius: 5px;
                    }
                   
                }
                form{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    margin-top: 15px;
                }
            }
        }
    }
    
}
/*小于540px*/ 
@media screen and (max-width:540px){
          .main{
              .content{
                  .nav{
                      .btn-group{
                          display: flex;
                          flex-wrap: wrap;
                          justify-content: center;
                          a{
                              width:30%;
                              text-align: center;
                              padding: 0;
                              margin-bottom: 20px;
                          }
                          a:nth-child(2n+1)
                          {
                              margin-right: 30px;
                          }
                      }
                      form{
                          display: none;
                      }
                      .fixed-btn{
                        display: block;
                      }
                  }
              }
          }
}