body {
  margin: 0;
  font-family: "宋体", "微软雅黑", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
dl,
dd {
  margin: 0;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #333;
}
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
td {
  text-align: left;
  vertical-align: top;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  outline: none;
  /*去掉输入框的蓝色轮廓框*/
}
textarea {
  resize: none;
  /* 禁止用户重置元素大小 */
  overflow: auto;
  font-family: inherit;
  outline: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input {
  border-radius: 0;
}
input::-webkit-input-placeholder {
  color: #666;
  /*  默认的样式 */
}
input:focus::-webkit-input-placeholder {
  color: #666;
  /* 点击后的样式 */
}
