body {
  margin: 0;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
dl,
dd {
  margin: 0;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
td {
  text-align: left;
  vertical-align: top;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  outline: none;
  /*去掉输入框的蓝色轮廓框*/
}
textarea {
  resize: none;
  /* 禁止用户重置元素大小 */
  overflow: auto;
  font-family: inherit;
  outline: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
}
input {
  border-radius: 0;
}
input::-webkit-input-placeholder {
  color: #666;
  /*  默认的样式 */
}
input:focus::-webkit-input-placeholder {
  color: #666;
  /* 点击后的样式 */
}
body {
  background-color: #f1f1f1;
}
.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding-bottom: 1.2rem;
}
.wrap {
  width: 7.1rem;
  margin: 0 auto;
}
.header {
  height: 0.88rem;
  background-color: #fff;
}
.header .wrap {
  height: 0.88rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 img {
  width: 1.47rem;
  height: 0.33rem;
}
.header input {
  width: 3rem;
  height: 0.4rem;
  background-color: #eee;
  border-radius: 0.04rem;
  text-align: center;
  font-size: 0.18rem;
}
.header .points span {
  float: left;
  width: 0.13rem;
  height: 0.13rem;
  border-radius: 50%;
  background-color: #000;
  margin: 0 0.05rem;
}
.nav {
  background-color: #fff;
  height: 0.8rem;
  line-height: 0.8rem;
}
.nav .wrap {
  position: relative;
  overflow: hidden;
}
.nav ul {
  width: 20rem;
}
.nav ul li {
  float: left;
  font-size: 0.28rem;
}
.nav ul li a {
  color: #202020;
  padding: 0 0.19rem;
}
.nav ul li.first {
  position: relative;
}
.nav ul li.first a {
  color: #e40033;
  border-right: 1px solid #f1f1f1;
}
.nav ul li.first::after {
  position: absolute;
  left: 0.19rem;
  bottom: 0;
  content: '';
  width: calc(100% - 0.38rem);
  height: 0.04rem;
  background-color: #e40033;
}
.nav .arrow {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 0.2rem;
  background-color: #fff;
}
.nav .arrow img {
  width: 0.35rem;
  height: 0.21rem;
}
.banner {
  position: relative;
  height: 2.91rem;
}
.banner a {
  position: absolute;
  top: 0;
  left: 0;
}
.banner a img {
  width: 7.5rem;
  height: 2.91rem;
}
.flex-nav {
  background-color: #fff;
  height: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-nav .item {
  font-size: 0.24rem;
  text-align: center;
}
.flex-nav .item img {
  width: 0.64rem;
  height: 0.62rem;
  margin-bottom: 0.2rem;
}
.flex-nav .item a {
  color: #595959;
}
.sale {
  height: 3.8rem;
  background-color: #fff;
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
}
.sale .left {
  position: relative;
  width: 3.77rem;
  height: 3.8rem;
  padding-left: 0.16rem;
  box-sizing: border-box;
}
.sale .left h3 {
  font-size: 0.3rem;
  color: #ff064f;
  letter-spacing: 0.04rem;
  margin-top: 0.16rem;
}
.sale .left h3 img {
  width: 0.33rem;
  height: 0.31rem;
  margin-right: 0.1rem;
  vertical-align: -0.06rem;
}
.sale .left .des {
  font-size: 0.22rem;
  color: #999;
  margin: 0.07rem 0;
}
.sale .left .time {
  font-size: 0.26rem;
}
.sale .left .time span {
  display: inline-block;
  background-color: #333;
  color: #fff;
  line-height: 0.42rem;
  padding: 0 0.09rem;
  border-radius: 0.05rem;
  margin: 0 0.04rem;
}
.sale .left .time i {
  color: #333;
  display: inline-block;
  line-height: 0.41rem;
  padding: 0 0.25rem 0 0.21rem;
  background: url("../images/index_images/bg.jpg") no-repeat;
  background-size: 100% 100%;
}
.sale .left .pic {
  display: block;
  width: 2.36rem;
  height: 2rem;
  margin: 0.18rem auto;
}
.sale .left .price {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  background-color: #ff064f;
  color: #fff;
  font-size: 0.16rem;
  line-height: 0.88rem;
  text-align: center;
}
.sale .left .price span {
  font-size: 0.24rem;
}
.sale .right {
  width: 3.5rem;
  height: 3.8rem;
  border-left: 1px solid #eeeeee;
}
.sale .right h3 {
  position: relative;
  font-size: 0.3rem;
  color: #ff064f;
  letter-spacing: 0.04rem;
  margin-top: 0.16rem;
}
.sale .right h3 span {
  position: absolute;
  top: 0;
  left: 1.32rem;
  display: inline-block;
  margin-left: 0.05rem;
  margin-top: 0.02rem;
  background-color: #ff064f;
  text-align: center;
  padding: 0.03rem 0.06rem;
}
.sale .right h3 span i {
  display: block;
  margin-left: 0.05rem;
  font-size: 0.22rem;
  color: #fff;
}
.sale .right .des {
  font-size: 0.22rem;
  color: #999;
  margin: 0.07rem 0;
}
.sale .right .brand {
  width: 0.9rem;
  height: 0.4rem;
  margin-top: 0.2rem;
}
.sale .right .right1 {
  padding: 0 0.2rem;
  padding-bottom: 0.05rem;
  border-bottom: 1px solid #eeeeee;
}
.sale .right .right1-l {
  float: left;
}
.sale .right .right1-r {
  margin-top: 0.16rem;
  float: right;
}
.sale .right .right1-r img {
  width: 1.1rem;
  height: 1.6rem;
}
.sale .right ul li {
  float: left;
  width: 1.38rem;
  height: 1.98rem;
  padding: 0 0.2rem;
  border-left: 1px solid #eeeeee;
}
.sale .right ul .shop-pic1 {
  display: block;
  width: 0.6rem;
  height: 1rem;
  margin: 0.15rem auto;
}
.sale .right ul .shop-pic2 {
  display: block;
  width: 1.1rem;
  height: 0.85rem;
  margin: 0.25rem auto;
}
.sale .right ul .last {
  padding-right: 0;
}
.banner2 {
  height: 1.87rem;
  margin-top: 0.3rem;
}
.banner2 img {
  width: 7.5rem;
  height: 1.87rem;
}
.goods {
  margin-top: 0.3rem;
  background-color: #fff;
  padding: 0.2rem 0.2rem;
}
.goods .hot-nav {
  width: 7rem;
  height: 0.7rem;
  font-size: 0.24rem;
}
.goods .hot-nav li {
  float: left;
  width: 1.75rem;
  height: 0.7rem;
  line-height: 0.7rem;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  text-align: center;
}
.goods .hot-nav li:hover {
  background-color: #f26b11;
}
.goods .hot-nav li:hover a {
  color: #fff;
}
.goods .hot-nav .del-l {
  border-left: none;
}
.goods .good {
  box-sizing: border-box;
  margin: 0.1rem 0 0.2rem 0;
  width: 7rem;
  height: 3rem;
  padding: 0.45rem 0.5rem;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 0.02rem 0.01rem #eeeeee;
}
.goods .good img {
  width: 2.16rem;
  height: 2.2rem;
}
.goods .good .left {
  float: left;
}
.goods .good .right {
  float: left;
  margin-left: 0.5rem;
}
.goods .good .right .title {
  font-size: 0.24rem;
  margin-bottom: 0.2rem;
}
.goods .good .right .price {
  font-size: 0.16rem;
  color: #f26b11;
  margin-bottom: 0.2rem;
}
.goods .good .right .price i {
  font-size: 0.12rem;
  margin-right: 0.04rem;
}
.goods .good .right .count {
  font-size: 0.16rem;
  color: #949494;
  margin-bottom: 0.2rem;
}
.goods .good .right .btn {
  width: 1.6rem;
  height: 0.5rem;
  border-radius: 0.05rem;
  line-height: 0.5rem;
  text-align: center;
  background-color: #f26b11;
  color: #fff;
  font-size: 0.24rem;
}
.fixed-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
}
.fixed-menu .con {
  width: 7.5rem;
  margin: 0 auto;
  height: 1.2rem;
  background-color: #fff;
}
.fixed-menu .con .nav {
  font-size: 0.22rem;
  width: 6.3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0.22rem;
  box-sizing: border-box;
  line-height: 1.8;
}
.fixed-menu .con .nav a {
  color: #999;
  text-align: center;
}
.fixed-menu .con .nav a i {
  display: block;
  width: 0.58rem;
  height: 0.58rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.fixed-menu .con .nav a:first-child i {
  background-image: url("../images/public/icon_6.jpg");
}
.fixed-menu .con .nav a:nth-child(2) i {
  background-image: url("../images/public/icon_7.jpg");
}
.fixed-menu .con .nav a:nth-child(3) i {
  background-image: url("../images/public/icon_5.jpg");
}
